*{
         margin: 0px;
         padding: 0px;
}
body{
         background-color:black ;
        
}
/* img{
         width: 1000px;
} */
h1{
         text-align: center;
         /* background-attachment: 
         ; */
         background-color: aquamarine;
         /* margin: 100px; */
         /* font-size: larger; */
         transition: 1.5s;

         transform: rotate(360deg) scale(1.4);
         border: 5px red solid;
}
label{
         position: -webkit-sticky;
         /* position: absolute;  */
         direction: ltr;
         font-size: medium;
         margin: 10px;
         /* left: 1%; */
}
input{
         border: solid 5px red;
         border-radius: 8px 8px 8px 8px;
         font-size: medium;
         /* position: absolute; */
}

.container{

         width: 200px;
         height: 300px;
         text-align: center;
         /* margin: 20px; */
         margin: 276px;
         padding: 30px;
         border: 6px solid red;
         border-width: 10px;
         background-color: aquamarine;
         box-sizing: 210px;
         font-variant-position: normal;
         font-style: italic;
         /* tex
          */
         /* font-style: ; */
         box-shadow: aquamarine 21px 12px;
         border-radius: 22px 22px 22px 22px ;
         /* box-shadow: 100px; */
         transition:  1.5s ;
         transform: rotate(360deg) scale(1.4);
}
.button{
         width: 106px;
         height: 27px;
         margin: 9px;
         padding: 0px;
         font-size: 20px;
         border-radius: 5px 5px 5px 5px;

}
.button:hover{
         background-color: red;
         color: aquamarine;
}